body {
    background-color: #f4f4f4;
    margin: 20px;
}

h1, h2{
    color: #244f7a;
    text-align: center;
}

p{
    font-size: 18px;
    text-align: center;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style: none;
}

li {
    text-align: center;
    font-size: 18px;
}